@import url(reset.css);
@import url(global.css);

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin: var(--48) var(--32) 0;
}

/* hero */
.hero-grid {
	display: grid;
	grid-template-areas:
		"image-L image-R"
		"content content";
	justify-items: center;
	column-gap: var(--17);
	margin-top: var(--64);
}

.hero-image {
	max-width: 100%;
	margin-bottom: var(--48);
}

.hero-image-left {
	grid-area: image-L;
}

.hero-image-right {
	grid-area: image-R;
}

.hero-content {
	grid-area: content;
	max-width: 30.5rem;
}

.hero-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	gap: var(--16);
	padding-bottom: var(--32);
}

.btn-cyan span {
	color: var(--cyan-300);
}

/* section 1 */
.section-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--32) 0 calc(var(--64) + 13.6rem);
}

.image-gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15.2rem, 1fr));
	gap: var(--16);
	justify-items: center;
	min-width: 31.1rem;
	margin: var(--64) 0;
}

.image-container {
	height: 16rem;
	width: 16rem;
	overflow: hidden;
	border-radius: 1rem;
}

.image {
	max-height: 100%;
	object-fit: cover;
	transition: transform 0.2s;
}

.image-1 {
	grid-area: image;
}

.image-2 {
	grid-area: image;
}

.image-3 {
	grid-area: image;
}

.image-4 {
	grid-area: image;
}

.image:hover {
	border-radius: 2rem;
	transform: scale(1.2);
}

.section-1 .heading-1 {
	font-size: clamp(3.2rem, calc(1rem + 5vw), 4rem);
}

.section-1-content {
	max-width: 31.1rem;
}

/* section 2 */
.section-2 {
	min-width: 100%;
	position: relative;
}

.section-2 .number-base {
	position: absolute;
	left: 0;
	right: 0;
	top: -10.8rem;
}

.section-2-background {
	height: 37.4rem;
	min-width: 100vw;
	background: linear-gradient(
			rgba(77, 151, 169, 0.85),
			rgba(77, 151, 169, 0.85)
		),
		url(./assets/mobile/image-footer.jpg) no-repeat center center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
	padding: var(--64) var(--32) 0;
}

.section-2-content-grid {
	display: grid;
	grid-template-areas:
		"header"
		"text"
		"button";
	justify-items: center;
	width: 31.1rem;
}

.section-2-content-grid .heading-1 {
	font-size: clamp(3.2rem, calc(1rem + 5vw), 4rem);
	grid-area: header;
	color: var(--white);
}
.section-2-content-grid .paragraph {
	grid-area: text;
	color: var(--white);
}

.section-2-content-grid .btn-purple {
	grid-area: button;
	width: 19.3rem;
}

.btn-purple span {
	color: var(--purple-300);
}

/* footer */
.attribution {
	min-width: 100%;
	color: var(--white);
	text-align: center;
	font-size: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* media queries */
@media (min-width: 48rem) {
	.hero-grid {
		column-gap: var(--32);
	}

	.hero-content {
		max-width: 35rem;
	}

	.hero-image {
		max-height: 30.3rem;
		margin-bottom: var(--72);
	}

	.hero-btn {
		flex-direction: row;
		justify-content: center;
	}

	.btn-cyan {
		margin-bottom: 0;
	}

	.image-gallery-grid {
		min-width: 68rem;
	}

	.images {
		gap: var(--24);
	}

	.section-1-content {
		max-width: 44.5rem;
	}

	.section-2-background {
		height: 38rem;
		background: linear-gradient(
				rgba(77, 151, 169, 0.85),
				rgba(77, 151, 169, 0.85)
			),
			url(./assets/tablet/image-footer.jpg) no-repeat center center/cover;
	}

	.section-2-content-grid {
		width: 50.4rem;
	}
}

@media (min-width: 75rem) {
	main {
		margin: var(--80) var(--80) 0;
	}

	.hero-grid {
		grid-template-areas: "image-L content image-R";
		justify-content: space-betwee;
		width: 100%;
	}

	.hero-content {
		min-width: 44.8rem;
	}

	.image-container {
		height: 25.6rem;
		width: 25.6rem;
	}

	.image-gallery-grid {
		max-width: 112rem;
		gap: var(--32);
	}

	.section-2-background {
		padding: 11.2rem var(--32) 0;
		background: linear-gradient(
				rgba(77, 151, 169, 0.85),
				rgba(77, 151, 169, 0.85)
			),
			url(./assets/desktop/image-footer.jpg) no-repeat center center/cover;
	}

	.section-2-content-grid {
		grid-template-areas: "header text button";
		width: 112rem;
		justify-content: space-around;
	}

	.section-2-content-grid .heading-1 {
		width: 40rem;
		text-align: left;
		margin: 0;
	}

	.section-2-content-grid .paragraph {
		width: 33.5rem;
		text-align: left;
		margin: 0;
	}
}

/* animated text */
.animated-text {
	background: linear-gradient(
		to right,
		#66b2c5,
		var(--cyan-600),
		#a379d3,
		var(--purple-600)
	);
	background-size: 300%;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: text-background 5s linear infinite;
}

.span-outline {
	-webkit-text-stroke-width: 0.04rem;
	-webkit-text-stroke-color: var(--white);
}

@keyframes text-background {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 0;
	}
}
